<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="Test case 01" verbose="2">
        <parameter name="browser" value="Firefox"/>
        <classes>
<!--            <class name="tests.ExtractDataHomePage"/>-->
            <class name="tests.InputLogin"/>
        </classes>
    </test>
</suite>